<head>
	<title>Snail Race Manager 2013</title>
<style type="text/css">
a:link {color:#183030}
a:visited {color:#507868}
div.content
{
color:#183030;
padding:10px 20px;
background:#a8c0b0;
min-height:50px;
width:800px;
}
</style>
</head>

<body style='background-color:#e0f0e8'>
	<center>
		<a href="http://anotherdayanotherga.me/games/srm2013/index.php"><img src="img/logo.png" /></a>
		<br />
		<div id="content" class="content">
			<b>Download the game.</b>
			<table border="0" style="color:#183030">
				<tr>
					<td><center><a href="download/srm2013-win.zip">Windows download</a>.</center></td>
				</tr>
				<tr>
					<td><center><a href="download/srm2013-mac.zip">Mac download</a>.</center></td>
				</tr>
				<tr>
					<td><center><a href="download/srm2013-linux.zip">Linux download</a>.</center></td>
				</tr>
			</table>

			<p><b>How to play:</b> <br />
				Hit your snail to give him a temporary speed boost. Be sure to watch fear and stamina. If its fear goes over 100 or its stamina hits 0, you lose!
			</p>

			<p><b>Controls:</b> <br />
				Arrow keys - D-pad. <br />
				Z - A. <br />
				X - B. <br />
				Space - Start.
			</p>

			<p><b>Modes:</b> <br />
				Single - vs AI. <br />
				Multi/Time Trial - vs self to submit time to leaderboards. <br />
				Multi/Other - vs a ghost of one of the top 3 players' best times for cash, the leaderboard spot, and bragging rights.
			</p>
		</div>
	</center>
</body>